
body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffffff; 
   margin: 0;
   font-size: 14px;
   line-height: 1.5;

}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.header-logo .logo-part {
color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
  margin: -1px;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
} 

 @media screen and (min-width: 768px) {
 .container {
  max-width: 768px;
} 
 }

@media screen and (min-width: 1158px) {
 .container {
  max-width: 1158px;
  padding: 0 15px;
} 
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
}


/* hedder */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 
  0px 1px 6px 0 rgba(46, 47, 66, 0.08),
  0px 1px 1px 0 rgba(46, 47, 66, 0.16),
  0px 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
display: none;
}

.logo  {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-logo .logo-part {
color: #f4f4fd;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.burger-btn {
   padding: 0;
   border: none;
   background-color: transparent;
}

.burger-icon {
    display: block;
    fill:  #2f2f37;
}

 @media screen and (min-width: 768px) {
.burger-btn {
  display: none;
}
 
 .header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
} 

 .nav-list {
display: flex;
align-items: center;
gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
display: block;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
font-style: normal;
display: block;
}

.contacts-list {
display: flex;
flex-direction: column;
gap: 12px;
}

.contacts-link {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
 color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
.header-logo {
  margin-right: 76px;
}

 .contacts-list {
 flex-direction: row;
 align-items: center;
 gap: 40px;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
} 

}

/* Mobile menu */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}  

/* is-hidden */
.mobile-menu .is-hidden {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;

}

.mobile-menu-nav-list {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  padding: 72px;
  padding-left: 16px;
  margin-bottom: auto;
}

.mobile-menu-nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav-list-item:first-child {
  color: #404bbf;
}

.menu-address {
  font-style: normal;
  margin-bottom: 48px;
  padding-left: 16px;
}
.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  
}
.menu-address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-icon-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;;
}
 
.mobile-menu .footer-icon-item {
  width: 40px;
  height: 40px;
}

.mobile-menu .footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-icon {
  fill: #f4f4fd;
}


/**  1 секція **/

.hero {
  text-align: center;
  padding: 112px 0;
  background-color: #2f303a;
  color: #fff;
}

.section-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-section {
  background-color: #2e2f42;
  padding: 72px 0;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url("../images/people_office-1.jpg");
   
 }

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 360px;
  margin: 0 auto 30px;
  color: #ffffff;
  text-align: center;
}

.hero-button {
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.button-primary:hover,
.button-primary:focus {
  background-color: #404BBF;
}

@media screen and (min-width: 768px) {

.hero-section {
  padding: 136px 0;
  max-width: 768px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  margin-bottom: 36px;
  max-width: 496px;
}
}

@media screen and (min-width: 1158px) {

  .hero-section {
  padding: 188px 0;
  max-width: 1440px;
}

.hero-title {
  margin-bottom: 48px;

}
}

/*  Benefits */

@media screen and (max-width: 1158px) {
  .benefit-icon {
    display: none;
    
  }
} 

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}


.section {
  padding: 96px 0;
}

 .benefits-list {
 display: flex;
 flex-direction: column;
 gap: 72px;
} 

.benefits-section {
  padding: 96px 0;
}


.benefit-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

.benefit-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.benefit-item {
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}


  @media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    
  }

  .benefit-title {
    text-align: left;
  }

  .container {
  max-width: 768px;
  
}

  .benefit-item {
    width: calc((100% - 24px) / 2); 
    text-align: left;
  }

  .benefit-icon-box {
    margin: 0 0 8px 0;
  }
}

@media screen and (min-width: 1158px) {
 
.benefit-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.container {
  max-width: 1158px;
  padding: 120px;
  /* margin: 0 auto; */
}

.benefit-item {
  width: calc((100% - 72px) / 4);
}

  .benefit-title {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  
  }

  .benefit-text {
  font-size: 16px;
}
  .benefit-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
.benefit-icon {
  fill: #2e2f42;
  display: block;
}
}
/* ---Team section--- */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
  gap: 72px;
  align-items: center;
}
.team-item {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  /* box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
              0 1px 1px rgba(46, 47, 66, 0.16),
              0 2px 1px rgba(46, 47, 66, 0.08);  */
  max-width: 264px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-comandos {
  padding: 32px 0;
} 

.team-social-icon {
  fill:  var(--icon-color, #f4f4fd);
  width: 16px;
  height: 16px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color:  var(--color-blue, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {


  .team-list {
    flex-direction: row;  /* Горизонтальное расположение */
    flex-wrap: wrap;      /* Перенос на новую строку */
    gap: 24px;
    justify-content: center; 
  }

  .team-item {
    width: calc((100% - 24px) / 2); /* 2 элемента в ряд */
  }
  
}

@media screen and (min-width: 1158px) {


  .team-section {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4); /* 4 элемента в ряд */
  }
}

/* Portfolio */


.portfolio-overlay {
  display: none;
}

 .hidden-portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-section {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;

}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  /* max-width: 356px; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {

.hidden-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

 .portfolio-list {
 gap: 48px 24px;
 align-items: center;
} 

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
} 

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

}

/* Footer */

.hidden-page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 320px;
  padding: 0 16px;
  text-align: center;
  margin: 0 auto;
 
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}


.footer-text {
  max-width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0 auto;
  
}


.footer-subtitle,
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;

} 
/* 888 */
.footer-icon-list,
.mobile-menu-icon-list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 16px; 
}

.footer-icon-link,
 .mobile-menu-icon-link {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-icon-list,
.mobile-menu-icon-list {
display: flex;
gap: 16px;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon,
.mobile-menu-icon {
  fill: #f4f4fd;
}

  .footer-logo,
  .footer-subtitle {
    text-align: center;
  }

  /* Subscribe form */

.footer-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;
/* margin-right: auto; */
margin-bottom: 16px;

} 


.footer-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form  {
  fill: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 16px;
  color: #fff;
  border: none;
  
} 

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  padding:  16px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  gap: 16px;
}


.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
 fill: #ffffff;
}

@media screen and (min-width: 768px) {

  .footer-container {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
    padding: 0 108px;

  }

  .footer-logo-wrapper,
  .hidden-footer-right,
  .footer-subscribe {
    text-align: left;
  }

  .footer-logo {
    : 16px;
  }
    
   .footer-title {
    text-align: left;
  }

  .footer-subscribe {
    align-items: flex-start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
    width: 100%;
    align-items: center;
  }

  .subscribe-label {
    /* flex-grow: 1; */
    margin-bottom: 0;
  }

  .subscribe-input {
    width: 264px;
    margin-right: 24px;
  }

  .subscribe-button {
    margin: 0;
  }


}



@media screen and (min-width: 1158px) {

   .footer-container {
    flex-direction: row;
    max-width: 1158px;
    padding: 0 15px;
    gap: 0;
   } 
  
  .footer-logo-wrapper {
    width: 264px;
    margin-right: 120px;
    text-align: left;
    margin-bottom: 16px;
   
  }

   .hidden-footer-right {
    margin-right: 80px;
   }


  .footer-text {
    margin-top: 16px;
  }

  .hidden-footer-right {
    width: 208px;
  }

  .footer-subscribe {
    width: 453px;
    
  }

  .footer-title {
    text-align: left;
    /* margin-left: 0;
    margin-right: 0; */
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    align-items: left;
    width: 453px;
    flex-direction: row;
  }

  .subscribe-label {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .subscribe-input {
    width: 264px;
    margin-right: ;
  }

  .subscribe-button {
    margin: 0;
  }

  .footer-logo,
  .footer-subtitle {
   text-align: left;
  } 
}



/* Modal */
  
 .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}  

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-clouse-btn:hover > .modal-clouse-btn-icon,
.modal-clouse-btn:focus > .modal-clouse-btn-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.form-input-wrapper {
  position: relative;
}

.form-input:focus {
  border-color: #4D5AE5;
  outline: transparent;
}

.form-input-wrapper:focus-within .form-icon {
  fill: #4D5AE5;
}

.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4D5AE5;
}

.modal-form .form-field:nth-of-type(4) {
  margin-bottom: 16px;
}

  /* Checkbox */

.form-checkbox-wrapper {
margin-bottom: 24px;
}

 .form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  display: flex;
  gap: 8px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  /* margin-right: 8px; */
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.form-policy-link {
  line-height: 1.33;
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  /* margin-left: 4px; */
}

.form-checkbox-label span:last-of-type {
  display: inline;
  line-height: 1.5;
}

.checkbox-accept {
  display: block;
  max-width: 231px;
}

 /* Button */
 
 .form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
.modal {
  width: 408px;
  min-height: 584px;
}

  .form-input-wrapper {
    padding-left: 38px;
  }
  .checkbox-accept {
    max-width: 100%;
  }
}

















 
 







  








 





